body {
  background: #0f0f0f;
  color: #00ff9c;
  font-family: monospace;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

canvas {
  background: #111;
  border: 3px solid #00ff9c;
  margin-top: 20px;
}